<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="github.SauceDemo.MakeSimpleOrder"/>
      <class name="github.SauceDemo.MakeOrderAndDelete"/>
      <class name="github.SauceDemo.Login_Chrome"/>
      <class name="github.SauceDemo.Login_Edge"/>
      <class name="github.SauceDemo.Login_Firefox"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
